{% load static %}
<!doctype html>
<html>
    <head>
        <title>Youtube Video Downloader</title>
    </head>
    <body>

        <form action="." method='POST'>{% csrf_token %}
            {{ form.as_p }}
            <label>Place youtube link in the input box below</label>
            <input type="text" id="youtubeLink" name="youtubeLink" >
            {{ 'Random message' }}
            <input type='submit' value='Download'/>
            {{ form.as_p }}
            <!--<button name="download_button" id="download_button" onclick="{% url 'downloader' %}">Download Video</button>-->
        </form>

    </body>
</html>